{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HollyMovies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    {% comment "TODO: work on static content" %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/contextmenu.css' %}"> -->
    <!-- <script src="{% static 'js/index.js' %}"></script> -->
    {% endcomment %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container fixed">
        <a class="navbar-brand" href="{% url 'index' %}">
          HollyMovies
        </a>
        <button
          class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'movies' %}">
              Movies
            </a>
            <a class="nav-item nav-link active" href="{% url 'genres' %}">
              Genres
            </a>
            <a class="nav-item nav-link active" href="{% url 'actors' %}">
              Actors
            </a>
            <a class="nav-item nav-link active" href="{% url 'movie_selection' %}">
              Select Movie
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer class="bg-body-tertiary text-center text-lg-start mt-auto">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.20);">
        {% comment "Turn off copyright" %}
        <p style="font-family: monospace;">© 2024: Copyright Maciej Oliwa</p>
        {% endcomment %}
        <p style="font-family: monospace;">{{ date_created }}</p>
        <p style="font-family: cursive;">{{ ciekawostka }}</p>
        <p>{{ current_time_and_date }}</p>
        <p>Ilosc aktorow w bazie: {{ num_of_actors }}.</p>
        <p>Ilosc filmow w bazie: {{ num_of_movies }}.</p>
      </div>
    </footer>
  </body>
</html>