{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Hollymovies, SDA project!</h1>

    {% if parametry %}
        <!-- <p>Mamy parametry!</p> -->
        {% for key, value in parametry.items %}
            <!-- <p>{{ key }}, {{ value }}</p> -->
            {% if value|length > 5 %}
                {% with font_size=value|length %}
                    <!-- <p>Mamy dluższe niż 5 znakow!</p> -->
                    <p style="font-size: {{font_size}}px;"><b>{{ value }}</b></p>
                {% endwith %}
            {% else %}
                <!-- <p>Krotsze niz 5 znakow!</p> -->
                <p>{{ value }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- DEBUG CODE
    <p>{{ parametry.p1 }}</p>
    <p>{{ parametry.p2 }}</p>
    <p>{{ parametry.p3 }}</p>
    <p>{{ parametry.p4 }}</p>
    <p>{{ parametry.p5 }}</p>
    -->

<!--
    ZADANIE 3:
    a -> Przekaz do widoku dwa parametry przez sciezke
    b -> Przekaz do widoku trzy parametry przez parametr zapytania
    c -> Sprawdz dlugosc parametrow
      1) Jezeli parametr ma dlugosc wieksza niz 5 znakow -
         wyrenderuj go w boldzie i w wiekszej czcionce
      2) Jezeli parametr jest krotszy niz 5 znakow -
         wyrenederuj go mniejszego niz reszta

    * Wyrenderuj parametr w wielkosci czcionki takiej, ile on ma znakow
 -->

{% endblock %}
