{% extends "base.html" %}

{% block content %}

{{ hello_message }}

{% comment "Some changes" %}
<h1> {{ date_created }} </h1>

{% for autor in autors %}
    <h2> {{ autor }} </h2>
{% endfor %}
{% endcomment %}

{% comment "Not visible" %}
    {% for group in user.groups.all %}
        <p>{{ group }}</p>
    {% endfor %}
{% endcomment %}

<!-- TODO: getting this element by ID -->
<!--
<div id="context-menu" class="hidden">
  <ul>
    <li><a href="#" data-action="action1">Action 1</a></li>
    <li><a href="#" data-action="action2">Action 2</a></li>
    </ul>
</div>
-->

{% endblock %}